::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    background: rgba(0,32,0,.5);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background: green;
}

#console-input {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: rgba(32, 32, 32, 32);
    color: #00ff00;
    border: 5px double black;
}

.error {
    color: red;
}

.warning {
    color: yellow;
}

.info {
    color: #00aaff;
}

.great {
    color: #00ff00;
}

.fail {
    color: pink;
}

.none {
    color: white;
}

red {
    color: red;
}

green {
    color: #00ff00;
}

orange {
    color: orange;
}

yellow {
    color: yellow;
}

blue {
    color: #00aaff;
}

pink {
    color: pink;
}

purple {
    color: purple;
}